<div class="tab-pane overflow-auto" id="{{section.id}}" role="tabpanel" aria-labelledby="{{section.id}}-tab">  
    <p><i>{{section.description}}</i></p>
    <!-- Education & Awards Section -->
    <p style="font-size:large;"><i class="fas fa-school"></i> Education & Awards </p>
    {% for edu in site.data.education %}
    <div class="list-group">
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">
                    <b>{{ edu.School }}:</b> <em>{{ edu.Degree }}</em>
                </p>
                <small>{{ edu.StartDate }} - {{ edu.EndDate }}</small>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">
                    <em>{{ edu.Program }}, {{ edu.Department }}</em>
                </p>
                {% if edu.Supervisor %}
                <small>Supervisor: {{edu.Supervisor}}</small>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <small>Awards: </small>
        {% for award in edu.Awards %}
        <span class="badge badge-secondary mr-1" style="background-color:black;">{{ award }}</span>
        {% endfor %}
    </div>
    {% endfor %}
    <br>
    <!-- Internships Section -->
    <p style="font-size:large;"><i class="fas fa-building"></i> Internships </p>
    {% for int in site.data.intern %}
    <div class="list-group">
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">
                    <b>{{ int.Company }}:</b> <em> {{int.Position}}, {{ int.Department }}</em>
                </p>
                <small>{{ int.StartDate }} - {{ int.EndDate }}</small>
            </div>
            <em>{{ int.Description }}</em>
        </div>
    </div>
    <div class="title">
        <small>Outcomes: </small>
        <span class="badge badge-secondary mr-1" style="background-color:black;">{{int.title}}</span>
        <a href="{{ int.pdf }}" class="z-depth-0" style="font-size:75%;" role="button" target="_blank"><i class="fas fa-file-pdf"></i> PDF</a>
        <a href="{{ int.issues }}" class="z-depth-0" style="font-size:75%;" role="button" target="_blank"><i class="fas fa-info-circle"></i> Issues</a>
    </div>
    <br>
    {% endfor %}
    <!-- Professional Services Section -->
    <p style="font-size:large;"><i class="fas fa-book-reader"></i> Professional Services </p>
    {% for ser in site.data.services %}
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">
                        <b>{{ ser.Association }}:</b> <em>{{ ser.Job }}</em>
                    </p>
                    <small>{{ ser.Time }}</small>
                </div>
            </div>
        </div>
        {% if ser.Awards %}
        <div>
            <small>Awards: </small>
            {% for award in ser.Awards %}
            <span class="badge badge-secondary mr-1" style="background-color:black;">{{ award }}</span>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
</div>
