---
---

<div class="row">
  <div id="{{entry.key}}" class="col-sm-12">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title font-weight-bold">
        {{entry.title}}
      </div>
      <div class="author">
        {% for author in entry.author_array %}
          {% if forloop.length == 1 %}
            {% if author.last == site.scholar.last_name and author.first == site.scholar.first_name %}
              <b>{{author.first}} {{author.last}}</b>
            {% else %}
              {{author.first}} {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author.last == site.scholar.last_name and author.first == site.scholar.first_name %}
                <b>{{author.first}} {{author.last}}</b>,
              {% else %}
                {% if site.data.coauthors[author.last] and site.data.coauthors[author.last].first_name == author.first %}
                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author.last == site.scholar.last_name and author.first == site.scholar.first_name %}
                and <b>{{author.first}} {{author.last}}</b>
              {% else %}
                {% if site.data.coauthors[author.last] and site.data.coauthors[author.last].first_name == author.first %}
                  and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first}} {{author.last}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}
      {% if entry.year %}
        {{entry.year}}
      {% endif %}
      <button class="btn btn-light copy-btn" data-bibtex="{{ entry.bibtex }}" style="padding: 0;color:gray;vertical-align: top;">
        <i class="fas fa-file-export fa-2xs" style="color: #DB7093;"></i>copy bibtex
      </button>
      </div>
    {% endif %}

    <div class="links">
    <!-- {% if entry.abstract %}
      <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
    {% endif %} -->
    {% if entry.arxiv %}
      <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button" target="_blank">arXiv</a>
    {% endif %}
    {% if entry.html %}
      <a href="{{ entry.html }}" role="button" target="_blank"><i class="fas fa-external-link-alt"></i></a>
    {% endif %}
    {% if entry.pdf %}
      {% if entry.pdf contains '://' %}
      <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button" target="_blank"><i class="fas fa-file-pdf"></i> PDF</a>
      {% else %}
      <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank"><i class="fas fa-file-pdf"></i> PDF</a>
      {% endif %}
    {% endif %}
    {% if entry.supp %}
      {% if entry.supp contains '://' %}
      <a href="{{ entry.supp }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Supp</a>
      {% else %}
      <a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Supp</a>
      {% endif %}
    {% endif %}
    {% if entry.blog %}
      <a href="{{ entry.blog }}" class="btn btn-sm z-depth-0" role="button" target="_blank"><i class="fas fa-blog"></i></a>
    {% endif %}
    {% if entry.code %}
      <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button" target="_blank"><i class="fas fa-file-code"></i> Code</a>
    {% endif %}
    {% if entry.poster %}
      {% if entry.poster contains '://' %}
      <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Poster</a>
      {% else %}
      <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Poster</a>
      {% endif %}
    {% endif %}
    {% if entry.slides %}
      {% if entry.slides contains '://' %}
      <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank"><i class="fas fa-file-powerpoint"></i>Slides</a>
      {% else %}
      <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank"><i class="fas fa-file-powerpoint"></i></a>
      {% endif %}
    {% endif %}
    {% if entry.website %}
      <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button" target="_blank"><i class="fas fa-external-link-alt"></a>
    {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if page.abstract and entry.abstract %}
    <div class="abstract hidden">
      <p><b>Abstract:</b> {{ entry.abstract }}</p>
    </div>
    {% endif %}
  </div>
</div>

<script>
function copyFunction() {
    const bibtex = this.getAttribute('data-bibtex');
    
    const textarea = document.createElement('textarea');
    Object.assign(textarea.style, {
        position: 'absolute',
        left: '-9999px',
        top: '0',
        opacity: '0'
    });
    textarea.textContent = bibtex;
    document.body.appendChild(textarea);
    
    textarea.select();
    try {
        document.execCommand('copy');
        alert('BibTeX copied to clipboard!');
    } catch (err) {
        alert('Unable to copy BibTeX.');
    }
    
    document.body.removeChild(textarea);
}

document.addEventListener("DOMContentLoaded", function() {
    const copyButtons = document.querySelectorAll('.copy-btn');
    copyButtons.forEach(btn => {
        btn.removeEventListener('click', copyFunction);  // Remove previous listeners
        btn.addEventListener('click', copyFunction);  // Add listener
    });
});
</script>