---
layout: page
permalink: contact.html
title: Contact Me
header-img:  
last-updated: 2020-10-30 5:55 PM
---
{% assign theme = site.data.themes[site.ui_theme] %}
<div class="blogcard card-2 mb-4 mt-4">
  <div class="card-body">
    <h1 class="card-title text-center" style="font-size:{{ theme.post-title-size }};font-weight:{{ theme.post-font-weight }};">{{ page.title }}</h1>
    <p>{{ content | markdownify }} </p>
    <!-- Target -->
    {% if page.pgp %}
    <div style="display: flex;">
    <input id="foo" style="width:50%;" class="text-muted" value="{{ site.pgp-key }}">
    <!-- Trigger -->
    <button class="btn" data-clipboard-target="#foo">
        <i class="far fa-copy" alt="Copy PGP clipboard"></i>
        <span style="font-size:14px;">Select to Copy</span>
    </button>
    </div>
    {% endif %}
  </div>
</div>

<div class="card shadow" style="padding-left: 36px;padding-right: 36px;">
  <div class="container">
  <form name="contact" id="contactForm" onsubmit="return validateForm();">
      <div class="form-group row mb-3 mt-5">
          <label for="inputForName" class="col-sm-2 col-form-label">Name:</label>
          <div class="col-sm-10">
              <input type="name" placeholder="Your Full Name (Chinese names are also welcome)" name="name" class="form-control" id="inputForName"/>
          </div>
      </div>
      <div class="form-group row mb-3">
        <label for="inputforEmail" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            <input type="email" placeholder="you@example.com" name="email" class="form-control" id="inputforEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </div>
      </div>
      <div class="form-group row mb-3">
          <label for="inputForInstitution" class="col-sm-2 col-form-label">Organization:</label>
          <div class="col-sm-10">
              <input type="text" placeholder="E.g., Harvard University or Google Inc." name="institution" class="form-control" id="inputForInstitution"/>
          </div>
      </div>
      <div class="form-group row mb-3">
          <label for="inputForPosition" class="col-sm-2 col-form-label">Role/Title:</label>
          <div class="col-sm-10">
              <input type="text" placeholder="E.g., PhD Candidate, Software Engineer, Researcher" name="position" class="form-control" id="inputForPosition"/>
          </div>
      </div>
      <div class="form-group row mb-3">
        <label for="inputForWebpage" class="col-sm-2 col-form-label">Web Page:</label>
        <div class="col-sm-10">
            <input type="url" placeholder="Your Personal Web Page URL" name="webpage" class="form-control" id="inputForWebpage">
        </div>
      </div>
      <div class="form-group row mb-3">
          <label for="inputForSubject" class="col-sm-2 col-form-label">Subject:</label>
          <div class="col-sm-10">
              <select name="subject" class="form-control" id="inputForSubject" required>
                  <option value="">-- Please Select a Subject --</option>
                  <option value="Q-paper">Q-paper</option>
                  <option value="Q-code">Q-code</option>
                  <option value="Q-team">Q-team</option>
                  <option value="Collabration">Collabration</option>
                  <option value="Others">Others</option>
              </select>
          </div>
      </div>
      <div class="form-group row mb-3">
          <label for="inputforMessage" class="col-sm-2 col-form-label">Message:</label>
          <div class="col-sm-10">
              <textarea type="message" placeholder="Please type your message here." name="message" class="form-control" id="inputforMessage"></textarea>
          </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn mb-4 inactiveButton" id="submitButton" disabled onclick="generateAndOpenEmail();">Email Me</button>
        </div>
      </div>
  </form>

  <div class="mb-5 mt-4" id="generatedTextContainer" style="display: none;">
      <!-- <div style="display: flex; align-items: center;">
          <hr style="flex: 1;">
          <span style="margin: 0 10px;"><em>Generated Email Text</em></span>
          <hr style="flex: 1;">
      </div> -->
      <textarea id="generatedEmailText" class="form-control" rows="7" style="background-color:{{theme.default-button-color}};" readonly></textarea>
      <button class="btn mt-2" data-toggle="tooltip" title="Email text copied!" onclick="copyToClipboard();">
          <i class="far fa-copy" alt="Copy Email clipboard"></i>
          <span style="font-size:14px;">Copy Email Text</span>
      </button>
  </div>

  </div>
</div>


<style>
  .activeButton {
      color: white;
      background-color: #4589ff;
  }

  .inactiveButton {
      color: grey;
      background-color: #e0e0e0;
  }
</style>


<script>
function startClippy(){
    new ClipboardJS('.btn');
}
window.onload = startClippy;

document.addEventListener("DOMContentLoaded", function() {
    // Get all input elements within the form
    const inputs = document.querySelectorAll('#contactForm input, #contactForm select, #contactForm textarea');
    
    // Event handler to check form validity and adjust the button's state
    function handleInput() {
        let allValid = true;

        // Loop through all input elements to check if any are invalid
        inputs.forEach(input => {
            if (!input.checkValidity()) {
                allValid = false;
            }
        });

        // If all inputs are valid, enable the button; otherwise, disable it
        const submitButton = document.getElementById('submitButton');
        if (allValid) {
            submitButton.removeAttribute('disabled');
            submitButton.classList.remove('inactiveButton');
            submitButton.classList.add('activeButton');
        } else {
            submitButton.setAttribute('disabled', true);
            submitButton.classList.add('inactiveButton');
            submitButton.classList.remove('activeButton');
        }
    }
    
    // Attach the event handler to every input element
    inputs.forEach(input => {
        input.addEventListener('input', handleInput);
    });
});

function validateForm() {
    const form = document.getElementById('contactForm');
    if (!form.checkValidity()) {
        alert('Please check your input fields.');
        return false; // Prevent form submission
    }
    return true;
}

function generateAndOpenEmail() {
  var name = document.getElementById("inputForName").value;
  var institution = document.getElementById("inputForInstitution").value;
  var position = document.getElementById("inputForPosition").value;
  var webpage = document.getElementById("inputForWebpage").value;
  var email = document.getElementById("inputforEmail").value;
  var message = document.getElementById("inputforMessage").value;
  var subjectOption = document.getElementById("inputForSubject").value;

  var subject = subjectOption + ": " + name + ", " + position + "from " + institution;
  var body = "Name: " + name + "\n" +
             "Webpage: " + webpage + "\n" +
             "Email: " + email + "\n\n" +
             "Message:\n" + message;

  // Update the generated email text area
  var generatedText = "Subject: " + subject + "\n\n" + body;
  document.getElementById("generatedEmailText").value = generatedText;

  // Show the generated text container
  document.getElementById("generatedTextContainer").style.display = "block";

  // Open default email client with filled-in data
  window.location.href = "mailto:heyilinge0@gmail.com?subject=" + encodeURIComponent(subject) + "&body=" + encodeURIComponent(body);
}

function copyToClipboard() {
    var copyText = document.getElementById("generatedEmailText");
    copyText.select();
    document.execCommand("copy");

    // Show the tooltip indicating the text was copied
    $('[data-toggle="tooltip"]').tooltip('show');
    setTimeout(function() {
        $('[data-toggle="tooltip"]').tooltip('hide');
    }, 2000);
}
</script>
